
dataset/alignment_datasets

notebooks/.ipynb_checkpoints

notebooks/wandb

__pycache__/
*.pyc
*.pyo
*.pyd
akkadian_to_english.egg-info

wandb
nvimlog
mbart-extended/
.nvimlog
lightning_logs
lightning_logs/
.vscode

transfer_seed/models/
notebooks/mbart-lora-r32-alpha-16

akkadian_sp.vocab
akkadian_
akkadian_vocab.json
akkadian_corpus.txt
mbart-akkadian
